<mat-card>
  <mat-card-content>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <h2>Reset Password</h2>
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="new password"
          formControlName="password"
          required
        />
        <mat-error
          *ngFor="let validation of reset_password_validation_messages.password"
        >
          <mat-error
            class="error-message"
            *ngIf="
            resetPasswordForm.get('password')?.hasError(validation.type) &&
              (resetPasswordForm.get('password')?.dirty ||
              resetPasswordForm.get('password')?.touched)
            "
            >{{ validation.message }}</mat-error
          >
        </mat-error><br>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="confirm new password"
          formControlName="confirmPassword"
          required
        />
        <mat-error
          *ngFor="let validation of reset_password_validation_messages.confirmPassword"
        >
          <mat-error
            class="error-message"
            *ngIf="
            resetPasswordForm.get('confirmPassword')?.hasError(validation.type) &&
              (resetPasswordForm.get('confirmPassword')?.dirty ||
              resetPasswordForm.get('confirmPassword')?.touched)
            "
            >{{ validation.message }}</mat-error
          >
        </mat-error>
      </mat-form-field><br>
      <button
        style="margin-top: 60px"
        [disabled]="!resetPasswordForm.valid"
        mat-raised-button
        color="primary"
      >
        Reset Password
      </button>
    </form>
  </mat-card-content>
</mat-card>
