mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
mat-form-field {
    display: block;
}

.register{
  color:blue;
}
.register:hover{
  text-decoration: underline;
  cursor:pointer;
  cursor: hand;
}

